In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers = pd.read_csv('Dim_Customers.csv')
campaigns = pd.read_csv('Dim_Campaigns.csv')
ad_spend = pd.read_csv('Fact_Daily_Ad_Spend.csv')
sessions = pd.read_csv('Fact_Sessions.csv')
orders = pd.read_csv('Fact_Orders.csv')
support = pd.read_csv('Fact_Support_Tickets.csv')

# **EDA For Customers Table**::

In [3]:
customers.head()

,customer_id,first_name,last_name,email,gender,birth_date,city,join_date,first_touch_date,acquisition_source,customer_status
0,C00000001,Mohamed,Hamdy,mohamedhamdy@yahoo.com,Male,NaN,Alexandria,2024-09-13,2024-09-06,Google Search,Active
1,C00000002,Amr,Fathy,amr64@yahoo.com,Male,1984-01-17,Suez,2025-02-04,2025-01-16,Referral,Active
2,C00000003,Mahmoud,Mohamed,mahmoud94@gmail.com,Male,1983-04-20,Giza,2024-09-23,2024-09-18,Google Search,Active
3,C00000004,Hala,Salem,halasalem@hotmail.com,Female,NaN,Giza,2024-09-10,2024-08-12,Google Display,Active
4,C00000005,Youssef,Hamdy,youssef81@outlook.com,Male,1973-11-04,Cairo,2024-08-08,2024-08-06,Instagram,Active

In [4]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customer_id         150000 non-null  object
 1   first_name          150000 non-null  object
 2   last_name           150000 non-null  object
 3   email               142383 non-null  object
 4   gender              138114 non-null  object
 5   birth_date          134861 non-null  object
 6   city                150000 non-null  object
 7   join_date           149689 non-null  object
 8   first_touch_date    149689 non-null  object
 9   acquisition_source  150000 non-null  object
 10  customer_status     150000 non-null  object
dtypes: object(11)
memory usage: 12.6+ MB

In [5]:
date_columns = ['birth_date', 'join_date', 'first_touch_date']

for col in date_columns:
    if col in customers.columns:
        customers[col] = pd.to_datetime(customers[col], errors='coerce')
    else:
        print(f"Column '{col}' not found in DataFrame.")

In [6]:
print('Number of null values per column:')
customers.isnull().sum()

Number of null values per column:

customer_id               0
first_name                0
last_name                 0
email                  7617
gender                11886
birth_date            15139
city                      0
join_date               311
first_touch_date        311
acquisition_source        0
customer_status           0
dtype: int64

In [7]:
duplicates_rows = customers.duplicated().sum()
print(f"number of duplicte rows is {duplicates_rows}")

number of duplicte rows is 0

In [8]:
customers.describe(include='all')

,customer_id,first_name,last_name,email,gender,birth_date,city,join_date,first_touch_date,acquisition_source,customer_status
count,150000,150000,150000,142383,138114,134861,150000,149689,149689,150000,150000
unique,150000,44,30,59809,2,NaN,23,NaN,NaN,9,3
top,C00149984,Omnia,Hamdy,omar.nasr@hotmail.com,Male,NaN,Cairo,NaN,NaN,Facebook,Active
freq,1,3525,5200,18,69173,NaN,35259,NaN,NaN,37619,105571
mean,NaN,NaN,NaN,NaN,NaN,1979-12-16 08:56:50.444828416,NaN,2024-12-04 04:15:24.572947712,2024-11-19 05:01:05.680176896,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1953-07-19 00:00:00,NaN,2024-07-01 00:00:00,2024-06-02 00:00:00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,1966-09-04 00:00:00,NaN,2024-09-27 00:00:00,2024-09-12 00:00:00,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,1979-12-08 00:00:00,NaN,2024-11-22 00:00:00,2024-11-08 00:00:00,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,1993-03-09 00:00:00,NaN,2025-01-30 00:00:00,2025-01-15 00:00:00,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,2006-07-06 00:00:00,NaN,2025-11-23 00:00:00,2025-11-14 00:00:00,NaN,NaN

In [9]:
for col in ['gender', 'city', 'acquisition_source', 'customer_status']:
    if col in customers.columns:
        print(f"\nUnique values and counts for '{col}':")
        display(customers[col].value_counts())
    else:
        print(f"Column '{col}' not found in DataFrame.")

Unique values and counts for 'gender':

gender
Male      69173
Female    68941
Name: count, dtype: int64

Unique values and counts for 'city':

city
Cairo                  35259
Giza                   21259
Alexandria             16980
Shubra El-Kheima        7074
Mansoura                5759
Port Said               5757
Tanta                   5657
Asyut                   4388
Zagazig                 4266
Suez                    4256
Minya                   4229
Ismailia                4199
Fayoum                  4177
Luxor                   4158
6th of October City     2881
Sohag                   2879
Damietta                2827
Aswan                   2817
Beni Suef               2802
Qena                    2777
Damanhur                2761
Hurghada                1431
Sharm El-Sheikh         1407
Name: count, dtype: int64

Unique values and counts for 'acquisition_source':

acquisition_source
Facebook          37619
Google Search     29949
Instagram         22387
TikTok            14876
Google Display    12119
Email             10467
Referral           7559
Direct             7531
Organic            7493
Name: count, dtype: int64

Unique values and counts for 'customer_status':

customer_status
Active      105571
Inactive     29436
Churned      14993
Name: count, dtype: int64

# **EDA For Campaigns Table**

In [10]:
campaigns.head()

,campaign_id,campaign_name,channel,objective,start_date,end_date,status
0,CMP00001,Instagram_Traffic_Mobile_Nov2025,Instagram,Traffic,2024-10-15,2025-01-01,Completed
1,CMP00002,Affiliate_Awareness_Mobile_Jan2025,Affiliate,Awareness,2024-08-22,2025-02-12,Completed
2,CMP00003,Affiliate_Traffic_Summer_Oct2025,Affiliate,Traffic,2025-01-03,NaN,Active
3,CMP00004,Google Display_Conversions_Winter_Sep2025,Google Display,Conversions,2024-11-01,NaN,Active
4,CMP00005,Google Display_Conversions_Ramadan_Q42025,Google Display,Conversions,2024-12-29,NaN,Active

In [11]:
campaigns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    250 non-null    object
 1   campaign_name  250 non-null    object
 2   channel        250 non-null    object
 3   objective      250 non-null    object
 4   start_date     250 non-null    object
 5   end_date       167 non-null    object
 6   status         250 non-null    object
dtypes: object(7)
memory usage: 13.8+ KB

In [12]:
date_columns_campaigns = ['start_date', 'end_date']

for col in date_columns_campaigns:
    if col in campaigns.columns:
        campaigns[col] = pd.to_datetime(campaigns[col], errors='coerce')
    else:
        print(f"Column '{col}' not found in DataFrame.")

In [13]:
print('Number of null values per column in campaigns:')
display(campaigns.isnull().sum())

Number of null values per column in campaigns:

campaign_id       0
campaign_name     0
channel           0
objective         0
start_date        0
end_date         83
status            0
dtype: int64

In [14]:
duplicate_rows_campaigns = campaigns.duplicated().sum()
print(f"Number of duplicate rows in campaigns: {duplicate_rows_campaigns}")

Number of duplicate rows in campaigns: 0

In [15]:
campaigns.describe(include='all')

,campaign_id,campaign_name,channel,objective,start_date,end_date,status
count,250,250,250,250,250,167,250
unique,250,250,7,5,NaN,NaN,4
top,CMP00001,Instagram_Traffic_Mobile_Nov2025,Google Search,Conversions,NaN,NaN,Active
freq,1,1,44,60,NaN,NaN,83
mean,NaN,NaN,NaN,NaN,2025-03-08 20:03:50.400000,2025-06-13 16:40:14.371257600,NaN
min,NaN,NaN,NaN,NaN,2024-07-04 00:00:00,2024-08-22 00:00:00,NaN
25%,NaN,NaN,NaN,NaN,2024-11-01 18:00:00,2025-02-09 12:00:00,NaN
50%,NaN,NaN,NaN,NaN,2025-03-02 12:00:00,2025-06-22 00:00:00,NaN
75%,NaN,NaN,NaN,NaN,2025-07-08 06:00:00,2025-10-28 12:00:00,NaN
max,NaN,NaN,NaN,NaN,2025-12-02 00:00:00,2025-12-31 00:00:00,NaN

In [16]:
for col in ['channel', 'status', 'objective']:
    if col in campaigns.columns:
        print(f"\nUnique values and counts for '{col}' in campaigns:")
        display(campaigns[col].value_counts())
    else:
        print(f"Column '{col}' not found in DataFrame.")

Unique values and counts for 'channel' in campaigns:

channel
Google Search     44
Affiliate         42
Facebook          38
TikTok            36
Google Display    34
Instagram         33
Email             23
Name: count, dtype: int64

Unique values and counts for 'status' in campaigns:

status
Active       83
Completed    77
Cancelled    45
Paused       45
Name: count, dtype: int64

Unique values and counts for 'objective' in campaigns:

objective
Conversions    60
Retargeting    60
Traffic        48
Awareness      48
Engagement     34
Name: count, dtype: int64

# **EDA For Ad Spend Table**

In [17]:
ad_spend.head()

,date,campaign_id,platform,impressions,clicks,spend_amount,conversions_reported
0,2024-07-04,CMP00166,Google Display Network,108315,1574,3886.47,30
1,2024-07-05,CMP00166,Google Display Network,140920,1317,4831.74,38
2,2024-07-06,CMP00225,Email,159178,3045,3638.21,98
3,2024-07-06,CMP00166,Google Display Network,414178,8004,7438.80,174
4,2024-07-07,CMP00166,Google Display Network,119962,1294,3399.63,24

In [18]:
ad_spend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65000 entries, 0 to 64999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  65000 non-null  object
 1   campaign_id           64695 non-null  object
 2   platform              65000 non-null  object
 3   impressions           65000 non-null  int64
 4   clicks                65000 non-null  int64
 5   spend_amount          65000 non-null  float64
 6   conversions_reported  65000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.5+ MB

In [19]:
print('Number of null values per column in ad_spend:')
display(ad_spend.isnull().sum())

Number of null values per column in ad_spend:

date                      0
campaign_id             305
platform                  0
impressions               0
clicks                    0
spend_amount              0
conversions_reported      0
dtype: int64

In [20]:
duplicate_rows_ad_spend = ad_spend.duplicated().sum()
print(f"Number of duplicate rows in ad_spend: {duplicate_rows_ad_spend}")

Number of duplicate rows in ad_spend: 0

In [21]:
ad_spend.describe(include='all')

,date,campaign_id,platform,impressions,clicks,spend_amount,conversions_reported
count,65000,64695,65000,6.500000e+04,65000.000000,65000.000000,65000.000000
unique,546,260,7,NaN,NaN,NaN,NaN
top,2025-12-04,CMP00166,Affiliate,NaN,NaN,NaN,NaN
freq,221,660,11403,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.653645e+05,3948.545985,4841.229113,98.356646
std,NaN,NaN,NaN,1.132768e+05,4449.929272,2823.129286,123.484679
min,NaN,NaN,NaN,1.043100e+04,87.000000,430.630000,1.000000
25%,NaN,NaN,NaN,8.592375e+04,1407.000000,2795.757500,31.000000
50%,NaN,NaN,NaN,1.376305e+05,2531.000000,4348.175000,59.000000
75%,NaN,NaN,NaN,2.123732e+05,4661.000000,6267.155000,116.000000
max,NaN,NaN,NaN,1.357659e+06,74346.000000,63520.970000,2800.000000

In [22]:
ad_spend['platform'].value_counts()

platform
Affiliate                 11403
Google Ads                11396
Google Display Network    10520
TikTok Ads                 9370
Facebook Ads               8802
Instagram Ads              8620
Email                      4889
Name: count, dtype: int64

In [23]:
ad_spend['date'] = pd.to_datetime(ad_spend['date'], errors='coerce')

# **EDA For sessions Table**

In [24]:
sessions.head()

,session_id,customer_id,session_start_ts,session_end_ts,traffic_source,utm_source,utm_medium,utm_campaign,device_type,landing_page,notes,internal_flag
0,S0000000001,C00006557,2025-04-08 09:08:47,2025-04-08 09:11:47,gAds,Google,NaN,google_campaign_72,MOBILE,/search,NaN,NaN
1,S0000000002,C00117758,2025-04-11 18:00:48,2025-04-11 18:24:48,instagram,IG,NaN,TikTok_Conversions_Electronics_Dec2024,desktop,/search,NaN,B
2,S0000000003,C00099231,2024-09-19 14:53:40,2024-09-19 15:03:40,Google Ads,NaN,ppc,google_campaign_13,Mobile,/about,NaN,B
3,S0000000004,NaN,2025-06-29 09:17:44,2025-06-29 09:24:44,direct,direct,NaN,direct_campaign_82,desktop,/about,NaN,B
4,S0000000005,C00014664,2025-02-20 18:51:20,2025-02-20 18:52:20,Tik Tok,tiktok,paid,tiktok_campaign_59,mobile,/electronics,NaN,NaN

In [25]:
sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   session_id        1200000 non-null  object
 1   customer_id       960033 non-null   object
 2   session_start_ts  1200000 non-null  object
 3   session_end_ts    1200000 non-null  object
 4   traffic_source    1200000 non-null  object
 5   utm_source        1009199 non-null  object
 6   utm_medium        870097 non-null   object
 7   utm_campaign      974927 non-null   object
 8   device_type       1200000 non-null  object
 9   landing_page      1200000 non-null  object
 10  notes             0 non-null        float64
 11  internal_flag     800370 non-null   object
dtypes: float64(1), object(11)
memory usage: 109.9+ MB

In [26]:
print('Number of null values per column in sessions:')
display(sessions.isnull().sum())

Number of null values per column in sessions:

session_id                0
customer_id          239967
session_start_ts          0
session_end_ts            0
traffic_source            0
utm_source           190801
utm_medium           329903
utm_campaign         225073
device_type               0
landing_page              0
notes               1200000
internal_flag        399630
dtype: int64

In [27]:
duplicate_rows_sessions = sessions.duplicated().sum()
print(f"Number of duplicate rows in sessions: {duplicate_rows_sessions}")

Number of duplicate rows in sessions: 0

In [28]:
sessions.describe(include='all')

,session_id,customer_id,session_start_ts,session_end_ts,traffic_source,utm_source,utm_medium,utm_campaign,device_type,landing_page,notes,internal_flag
count,1200000,960033,1200000,1200000,1200000,1009199,870097,974927,1200000,1200000,0.0,800370
unique,1200000,149750,1180827,1181171,31,31,8,1051,8,12,NaN,2
top,S0001199984,C00100681,2024-09-07 14:34:33,2025-03-27 18:34:47,Meta,Meta,cpc,unknown_campaign,MOBILE,/products,NaN,B
freq,1,20,3,4,95988,79687,181320,3410,240427,100609,NaN,400242
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
for col in ['traffic_source' , 'utm_source' , 'utm_medium' , 'internal_flag' , 'device_type' , 'utm_campaign']:
    if col in sessions.columns:
        print(f"\nUnique values and counts for '{col}' in sessions (top 10 for brevity):")
        display(sessions[col].value_counts())
    else:
        print(f"Column '{col}' not found in DataFrame.")

Unique values and counts for 'traffic_source' in sessions (top 10 for brevity):

traffic_source
Meta              95988
Facebook          60468
facebook          60200
fb                60013
FB                59980
tiktok            40406
Organic           40229
organic           40223
google            40121
Tik Tok           40046
Google Ads        40020
googleads         39957
TikTok            39890
Google Search     39837
gAds              39814
Organic Search    39734
Google            39405
IG                36230
instagram         35935
ig                35899
Instagram         35795
none              30217
direct            30143
referral          30073
(direct)          29931
Referral          29849
Direct            29803
EMAIL             15052
Email             14990
email             14914
newsletter        14838
Name: count, dtype: int64

Unique values and counts for 'utm_source' in sessions (top 10 for brevity):

utm_source
Meta              79687
FB                49972
fb                49878
Facebook          49833
facebook          49647
Tik Tok           34299
Google Search     34090
googleads         34066
organic           34061
tiktok            34006
Organic Search    33974
gAds              33966
Organic           33924
google            33852
TikTok            33826
Google            33697
Google Ads        33624
IG                30134
ig                29714
Instagram         29647
instagram         29573
(direct)          25582
none              25546
direct            25481
referral          25407
Referral          25406
Direct            25319
email             13021
EMAIL             12877
Email             12572
newsletter        12518
Name: count, dtype: int64

Unique values and counts for 'utm_medium' in sessions (top 10 for brevity):

utm_medium
cpc            181320
organic        143529
social         118119
paid-social    117896
paid           117134
referral        80187
ppc             64075
email           47837
Name: count, dtype: int64

Unique values and counts for 'internal_flag' in sessions (top 10 for brevity):

internal_flag
B    400242
A    400128
Name: count, dtype: int64

Unique values and counts for 'device_type' in sessions (top 10 for brevity):

device_type
MOBILE     240427
mobile     240142
Mobile     240133
desktop    139920
DESKTOP    139787
Desktop    139669
Tablet      29988
tablet      29934
Name: count, dtype: int64

Unique values and counts for 'utm_campaign' in sessions (top 10 for brevity):

utm_campaign
unknown_campaign                            3410
Affiliate_Traffic_All_Apr2024               1653
Google Display_Engagement_Winter_May2024    1650
TikTok_Retargeting_Mobile_Jul2024           1644
Facebook_Retargeting_Winter_Q32025          1638
                                            ...
email_campaign_91                            262
referral_campaign_6                          259
email_campaign_57                            258
email_campaign_49                            249
referral_campaign_2                          242
Name: count, Length: 1051, dtype: int64

In [30]:
datetime_columns_sessions = ['session_start_ts', 'session_end_ts']

for col in datetime_columns_sessions:
    if col in sessions.columns:
        sessions[col] = pd.to_datetime(sessions[col], errors='coerce')
    else:
        print(f"Column '{col}' not found in DataFrame.")

# **EDA For Orders Table**

In [31]:
display(orders.head())

,order_id,customer_id,session_id,order_date,order_status,product_category,subtotal,shipping_fee,tax_amount,discount_amount,total_amount,payment_method,delivery_date
0,O0000214413,C00062214,S0000352072,2024-07-01,Completed,Electronics,968.04,61.80,135.53,0.00,1165.37,Cash,2024-07-10
1,O0000082480,C00148386,S0000124767,2024-07-01,Cancelled,Beauty,349.98,44.34,49.00,0.00,443.31,Wallet,2024-07-10
2,O0000115642,C00079214,S0000304963,2024-07-01,Completed,Sports,2839.59,27.31,397.54,0.00,3264.45,card,2024-07-10
3,O0000016065,C00121264,S0000355344,2024-07-01,Cancelled,Beauty,2188.60,18.04,306.40,323.54,2189.50,Card,2024-07-03
4,O0000202201,C00053436,S0000204612,2024-07-01,Completed,Accessories,1919.99,86.96,268.80,30.76,2245.00,cash,2024-07-07

In [32]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217817 entries, 0 to 217816
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          217817 non-null  object
 1   customer_id       180576 non-null  object
 2   session_id        185295 non-null  object
 3   order_date        217817 non-null  object
 4   order_status      217817 non-null  object
 5   product_category  217817 non-null  object
 6   subtotal          217817 non-null  float64
 7   shipping_fee      217817 non-null  float64
 8   tax_amount        217817 non-null  float64
 9   discount_amount   217817 non-null  float64
 10  total_amount      217817 non-null  float64
 11  payment_method    217817 non-null  object
 12  delivery_date     217817 non-null  object
dtypes: float64(5), object(8)
memory usage: 21.6+ MB

In [33]:
print('Number of null values per column in orders:')
display(orders.isnull().sum())

Number of null values per column in orders:

order_id                0
customer_id         37241
session_id          32522
order_date              0
order_status            0
product_category        0
subtotal                0
shipping_fee            0
tax_amount              0
discount_amount         0
total_amount            0
payment_method          0
delivery_date           0
dtype: int64

In [34]:
duplicate_rows_orders = orders.duplicated().sum()
print(f"Number of duplicate rows in orders: {duplicate_rows_orders}")

Number of duplicate rows in orders: 0

In [35]:
orders.describe(include='all')

,order_id,customer_id,session_id,order_date,order_status,product_category,subtotal,shipping_fee,tax_amount,discount_amount,total_amount,payment_method,delivery_date
count,217817,180576,185295,217817,217817,217817,217817.000000,217817.000000,217817.000000,217817.000000,217817.000000,217817,217817
unique,217817,97568,155369,549,6,12,NaN,NaN,NaN,NaN,NaN,9,595
top,O0000172268,C00079703,S0000183862,2024-12-13,Completed,Sports,NaN,NaN,NaN,NaN,NaN,Card,2025-07-12
freq,1,13,5,487,163231,18298,NaN,NaN,NaN,NaN,NaN,24411,467
mean,NaN,NaN,NaN,NaN,NaN,NaN,1610.328464,50.052191,225.445989,97.975553,1787.852920,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1861.480019,28.881234,260.607205,243.026199,2030.214566,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,50.010000,0.000000,7.000000,0.000000,37.660000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,788.020000,25.060000,110.320000,0.000000,891.240000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,1528.330000,50.110000,213.970000,0.000000,1686.930000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2273.380000,75.140000,318.270000,118.180000,2482.060000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,49935.440000,100.000000,6990.960000,13900.480000,56977.590000,NaN,NaN

In [36]:
for col in ['order_status', 'payment_method', 'product_category']:
    if col in orders.columns:
        print(f"\nUnique values and counts for '{col}' in orders (top 10 for brevity if many unique values):")
        display(orders[col].value_counts().head(10))
    else:
        print(f"Column '{col}' not found in DataFrame.")

Unique values and counts for 'order_status' in orders (top 10 for brevity if many unique values):

order_status
Completed    163231
Pending       21743
Cancelled     10908
Returned       8781
Refunded       8763
Failed         4391
Name: count, dtype: int64

Unique values and counts for 'payment_method' in orders (top 10 for brevity if many unique values):

payment_method
Card        24411
Wallet      24318
Cash        24303
Instapay    24251
card        24186
COD         24181
wallet      24114
cash        24066
InstaPay    23987
Name: count, dtype: int64

Unique values and counts for 'product_category' in orders (top 10 for brevity if many unique values):

product_category
Sports                18298
Grocery               18293
Electronics           18284
Baby & Kids           18281
Mobile Accessories    18200
Books                 18187
Appliances            18146
Accessories           18126
Home & Kitchen        18122
Pharmacy              18082
Name: count, dtype: int64

In [37]:
date_columns_orders = ['order_date' , 'delivery_date']

for col in date_columns_orders:
    if col in orders.columns:
        orders[col] = pd.to_datetime(orders[col], errors='coerce')
    else:
        print(f"Column '{col}' not found in DataFrame.")

# **EDA For Support Table**

In [38]:
display(support.head())

,ticket_id,customer_id,order_id,issue_type,resolution_time_hours,csat_score
0,T0000000001,C00127138,O0000043556,Delivery Delay,10.8,NaN
1,T0000000002,C00038780,O0000176613,Product Quality,6.3,NaN
2,T0000000003,C00028881,O0000161720,Delivery Delay,51.5,2.0
3,T0000000004,C00047818,O0000074603,Delivery Delay,19.9,3.0
4,T0000000005,C00000680,O0000015419,Payment Issue,46.2,1.0

In [39]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ticket_id              120000 non-null  object
 1   customer_id            101606 non-null  object
 2   order_id               107813 non-null  object
 3   issue_type             120000 non-null  object
 4   resolution_time_hours  120000 non-null  float64
 5   csat_score             101955 non-null  float64
dtypes: float64(2), object(4)
memory usage: 5.5+ MB

In [40]:
print('Number of null values per column in support:')
display(support.isnull().sum())

Number of null values per column in support:

ticket_id                    0
customer_id              18394
order_id                 12187
issue_type                   0
resolution_time_hours        0
csat_score               18045
dtype: int64

In [41]:
duplicate_rows_support = support.duplicated().sum()
print(f"Number of duplicate rows in support: {duplicate_rows_support}")

Number of duplicate rows in support: 0

In [42]:
support.describe(include='all')

,ticket_id,customer_id,order_id,issue_type,resolution_time_hours,csat_score
count,120000,101606,107813,120000,120000.000000,101955.000000
unique,120000,61536,85199,11,NaN,NaN
top,T0000119984,C00022948,O0000215301,Delivery Delay,NaN,NaN
freq,1,10,6,27199,NaN,NaN
mean,NaN,NaN,NaN,NaN,19.993346,2.657722
std,NaN,NaN,NaN,NaN,12.667894,1.215732
min,NaN,NaN,NaN,NaN,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,10.500000,2.000000
50%,NaN,NaN,NaN,NaN,17.700000,3.000000
75%,NaN,NaN,NaN,NaN,27.000000,4.000000
max,NaN,NaN,NaN,NaN,86.000000,5.000000

In [43]:
support['issue_type'].value_counts()

issue_type
Delivery Delay         27199
Product Quality        21491
Payment Issue          16085
Other                  11406
Cancellation           10776
Refund Request         10762
Wrong Item             10751
General Inquiry         4346
Account Issue           3004
Technical Support       2418
Product Information     1762
Name: count, dtype: int64

# **Cleaning Time**

In [44]:
print('Checking for extra things in columns name...\n')

datasets = {
    'Customers': customers,
    'Campaigns': campaigns,
    'Ad Spend': ad_spend,
    'Sessions': sessions,
    'Orders': orders,
    'Support': support
}


for name , table in datasets.items():
  print(f'{name} columns')
  for col in table.columns:
    if col != col.strip():
      print(f"Column '{col}' has extra spaces.")

Checking for extra things in columns name...

Customers columns
Campaigns columns
Ad Spend columns
Column 'campaign_id ' has extra spaces.
Sessions columns
Column 'notes ' has extra spaces.
Orders columns
Support columns

In [45]:
customers.columns = customers.columns.str.strip()
campaigns.columns = campaigns.columns.str.strip()
ad_spend.columns = ad_spend.columns.str.strip()
sessions.columns = sessions.columns.str.strip()
orders.columns = orders.columns.str.strip()
support.columns = support.columns.str.strip()

In [46]:
def automated_audit(df_name, df):
    print(f"\n{'='*40}")
    print(f" AUDIT REPORT FOR: {df_name}")
    print(f"{'='*40}")

    null_percent = df.isnull().mean() * 100
    high_nulls = null_percent[null_percent > 0]
    if not high_nulls.empty:
        print(f"\n MISSING VALUES FOUND:")
        print(high_nulls.sort_values(ascending=False).to_string(float_format="%.2f%%"))
    else:
        print("\n No missing values found.")


for name, data in datasets.items():
    automated_audit(name, data)

========================================
 AUDIT REPORT FOR: Customers
========================================

 MISSING VALUES FOUND:
birth_date         10.09%
gender              7.92%
email               5.08%
join_date           0.21%
first_touch_date    0.21%

========================================
 AUDIT REPORT FOR: Campaigns
========================================

 MISSING VALUES FOUND:
end_date   33.20%

========================================
 AUDIT REPORT FOR: Ad Spend
========================================

 MISSING VALUES FOUND:
campaign_id   0.47%

========================================
 AUDIT REPORT FOR: Sessions
========================================

 MISSING VALUES FOUND:
notes           100.00%
internal_flag    33.30%
utm_medium       27.49%
customer_id      20.00%
utm_campaign     18.76%
utm_source       15.90%

========================================
 AUDIT REPORT FOR: Orders
========================================

 MISSING VALUES FOUND:
customer_id   17.10%
session_id    14.93%

========================================
 AUDIT REPORT FOR: Support
========================================

 MISSING VALUES FOUND:
customer_id   15.33%
csat_score    15.04%
order_id      10.16%

In [47]:
print(f"Number of duplicate rows in customers: {customers.duplicated().sum()}")
print(f"Number of duplicate rows in campaigns: {campaigns.duplicated().sum()}")
print(f"Number of duplicate rows in ad_spend: {ad_spend.duplicated().sum()}")
print(f"Number of duplicate rows in sessions: {sessions.duplicated().sum()}")
print(f"Number of duplicate rows in orders: {orders.duplicated().sum()}")
print(f"Number of duplicate rows in support: {support.duplicated().sum()}")

Number of duplicate rows in customers: 0
Number of duplicate rows in campaigns: 0
Number of duplicate rows in ad_spend: 0
Number of duplicate rows in sessions: 0
Number of duplicate rows in orders: 0
Number of duplicate rows in support: 0

In [48]:
# 1. Sessions Table Cleanup
# ==========================================================
# SUMMARY:
# - DROPPED: 'notes' and 'internal_flag' columns (irrelevant/garbage data).
# - FILLED: Missing UTM parameters replaced with 'unknown' for analysis.
# - KEPT: Missing 'customer_id' left as NaN (represents anonymous traffic).
print("Fixing Sessions Table...")

sessions.drop(columns=['notes', 'internal_flag'], inplace=True, errors='ignore')

utm_cols = ['utm_source', 'utm_medium', 'utm_campaign']
for col in utm_cols:
    sessions[col] = sessions[col].fillna('unknown')

Fixing Sessions Table...

In [49]:
# 2. Campaigns Table Cleanup
# ==========================================================
# SUMMARY:
# - ACTION: No rows or columns dropped.
# - KEPT: Missing 'end_date' left as NaN (indicates ongoing/active campaigns).
# No code needed here; decision is to leave NaN as is.

In [50]:
# 3. Ad Spend Table Cleanup
# ==========================================================
# SUMMARY:
# - DROPPED: Rows where 'campaign_id' is missing (unattributable spend).
# - REASON: Small percentage (<0.5%), removing to maintain data model integrity.

ad_spend.dropna(subset=['campaign_id'], inplace=True)

In [51]:
# 4. Customers Table Cleanup
# ==========================================================
# SUMMARY:
# - FILLED: Missing 'gender' replaced with 'Unknown'.
# - KEPT: Missing 'birth_date' and 'email' left as NaN (missing info but valid customer records).

customers['gender'] = customers['gender'].fillna('Unknown')

In [52]:
# 5. Orders Table Cleanup
# ==========================================================
# SUMMARY:
# - FILLED: Missing 'session_id' replaced with 'offline_or_missing'.
# - KEPT: Missing 'customer_id' left as NaN (Guest Checkouts).
# - NOTE: No rows dropped to preserve total revenue figures.

orders['session_id'] = orders['session_id'].fillna('offline_or_missing')

In [53]:
# 6. Support Table Cleanup
# ==========================================================
# SUMMARY:
# - ACTION: No changes applied.
# - KEPT: Missing IDs and CSAT scores left as NaN (General inquiries or user declined to rate).
# Decision: Keep NaNs statistically accurate.

In [54]:
print("FULL CATEGORICAL SCAN (Checking columns with < 50 unique values)...\n")

for table_name, df in datasets.items():
    print(f" TABLE: {table_name}")
    print("=" * 40)

    text_cols = df.select_dtypes(include=['object']).columns

    found_categorical = False
    for col in text_cols:
        unique_count = df[col].nunique()

        if unique_count < 50:
            found_categorical = True
            print(f"Column: '{col}' ({unique_count} unique values)")
            print(f"   Values: {df[col].unique()}")
            print("-" * 20)

    if not found_categorical:
        print("   (No categorical columns found needing check)")
    print("\n")

FULL CATEGORICAL SCAN (Checking columns with < 50 unique values)...

 TABLE: Customers
========================================
Column: 'first_name' (44 unique values)
   Values: ['Mohamed' 'Amr' 'Mahmoud' 'Hala' 'Youssef' 'Rania' 'Omar' 'Noha' 'Laila'
 'Mostafa' 'Osama' 'Tarek' 'Salma' 'Shimaa' 'Fatma' 'Rana' 'Aisha' 'Walid'
 'Heba' 'Ibrahim' 'Adel' 'Khaled' 'Sherif' 'Tamer' 'Yasmin' 'Aya' 'Omnia'
 'Mona' 'Ali' 'Magdy' 'Sara' 'Hossam' 'Abdallah' 'Doaa' 'Hesham' 'Hassan'
 'Amira' 'Nour' 'Mariam' 'Eman' 'Karim' 'Nada' 'Ahmed' 'Dina']
--------------------
Column: 'last_name' (30 unique values)
   Values: ['Hamdy' 'Fathy' 'Mohamed' 'Salem' 'Sayed' 'Mahmoud' 'Nasr' 'Othman'
 'Khalil' 'Ali' 'Nasser' 'Badawi' 'Ibrahim' 'Hassan' 'Hegazy' 'Gaber'
 'Abdel Aziz' 'Morsi' 'El-Sayed' 'Ramadan' 'El-Masry' 'Amin' 'Kamel'
 'Farouk' 'Ahmed' 'Abdel Rahman' 'Rashid' 'Zaki' 'Shehata' 'Mostafa']
--------------------
Column: 'gender' (3 unique values)
   Values: ['Male' 'Female' 'Unknown']
--------------------
Column: 'city' (23 unique values)
   Values: ['Alexandria' 'Suez' 'Giza' 'Cairo' 'Mansoura' 'Sohag' 'Port Said' 'Qena'
 'Luxor' 'Ismailia' 'Aswan' 'Shubra El-Kheima' 'Tanta' 'Fayoum'
 'Beni Suef' 'Minya' 'Sharm El-Sheikh' 'Damietta' 'Zagazig'
 '6th of October City' 'Hurghada' 'Asyut' 'Damanhur']
--------------------
Column: 'acquisition_source' (9 unique values)
   Values: ['Google Search' 'Referral' 'Google Display' 'Instagram' 'Direct' 'TikTok'
 'Organic' 'Email' 'Facebook']
--------------------
Column: 'customer_status' (3 unique values)
   Values: ['Active' 'Inactive' 'Churned']
--------------------


 TABLE: Campaigns
========================================
Column: 'channel' (7 unique values)
   Values: ['Instagram' 'Affiliate' 'Google Display' 'Email' 'Google Search' 'TikTok'
 'Facebook']
--------------------
Column: 'objective' (5 unique values)
   Values: ['Traffic' 'Awareness' 'Conversions' 'Retargeting' 'Engagement']
--------------------
Column: 'status' (4 unique values)
   Values: ['Completed' 'Active' 'Cancelled' 'Paused']
--------------------


 TABLE: Ad Spend
========================================
Column: 'platform' (7 unique values)
   Values: ['Google Display Network' 'Email' 'Affiliate' 'TikTok Ads' 'Facebook Ads'
 'Instagram Ads' 'Google Ads']
--------------------


 TABLE: Sessions
========================================
Column: 'traffic_source' (31 unique values)
   Values: ['gAds' 'instagram' 'Google Ads' 'direct' 'Tik Tok' 'Google' 'fb'
 'Organic' 'Meta' 'google' 'none' 'IG' 'newsletter' 'FB' 'Organic Search'
 'referral' '(direct)' 'ig' 'organic' 'TikTok' 'Facebook' 'Google Search'
 'tiktok' 'Referral' 'facebook' 'Instagram' 'googleads' 'EMAIL' 'Direct'
 'Email' 'email']
--------------------
Column: 'utm_source' (32 unique values)
   Values: ['Google' 'IG' 'unknown' 'direct' 'tiktok' 'FB' 'fb' 'Organic Search'
 'Meta' 'facebook' '(direct)' 'instagram' 'Email' 'organic' 'referral'
 'Facebook' 'none' 'Referral' 'Instagram' 'Google Ads' 'Google Search'
 'gAds' 'google' 'Tik Tok' 'googleads' 'Organic' 'Direct' 'ig'
 'newsletter' 'TikTok' 'email' 'EMAIL']
--------------------
Column: 'utm_medium' (9 unique values)
   Values: ['unknown' 'ppc' 'paid' 'social' 'organic' 'referral' 'cpc' 'paid-social'
 'email']
--------------------
Column: 'device_type' (8 unique values)
   Values: ['MOBILE' 'desktop' 'Mobile' 'mobile' 'DESKTOP' 'Desktop' 'tablet'
 'Tablet']
--------------------
Column: 'landing_page' (12 unique values)
   Values: ['/search' '/about' '/electronics' '/home' '/category/fashion' '/'
 '/fashion' '/products' '/category/beauty' '/sale' '/category/electronics'
 '/deals']
--------------------


 TABLE: Orders
========================================
Column: 'order_status' (6 unique values)
   Values: ['Completed' 'Cancelled' 'Refunded' 'Returned' 'Failed' 'Pending']
--------------------
Column: 'product_category' (12 unique values)
   Values: ['Electronics' 'Beauty' 'Sports' 'Accessories' 'Home & Kitchen'
 'Mobile Accessories' 'Appliances' 'Baby & Kids' 'Pharmacy' 'Books'
 'Grocery' 'Fashion']
--------------------
Column: 'payment_method' (9 unique values)
   Values: ['Cash' 'Wallet' 'card' 'Card' 'cash' 'InstaPay' 'wallet' 'Instapay' 'COD']
--------------------


 TABLE: Support
========================================
Column: 'issue_type' (11 unique values)
   Values: ['Delivery Delay' 'Product Quality' 'Payment Issue' 'Other'
 'Refund Request' 'Cancellation' 'Wrong Item' 'Account Issue'
 'Product Information' 'General Inquiry' 'Technical Support']
--------------------

In [55]:
print("Starting Advanced Standardization Phase...")

# ==============================================================================
# 1. Case Standardization and Whitespace Removal (Initial Cleanup)
# ==============================================================================
# This is the most important step; it converts MOBILE to mobile and FB to fb
str_cols = ['traffic_source', 'utm_source', 'device_type', 'payment_method']
for col in str_cols:
    # We check first to ensure the column exists to avoid errors
    if col in sessions.columns:
        sessions[col] = sessions[col].str.lower().str.strip()
    if col in orders.columns:
        orders[col] = orders[col].str.lower().str.strip()

print("Step 1: Lowercase applied.")

Starting Advanced Standardization Phase...
Step 1: Lowercase applied.

In [56]:
# 2. Traffic Source Standardization Dictionary (The Traffic Map)
# ==============================================================================
# Here we tell Python: "Any of these variations should be renamed to this"
traffic_mapping = {
    # Google Variations
    'gads': 'google',
    'google ads': 'google',
    'google search': 'google',
    'googleads': 'google',
    'organic search': 'google',
    'goog': 'google',

    # Facebook Variations
    'fb': 'facebook',
    'meta': 'facebook',
    'facebook ads': 'facebook',

    # Instagram Variations
    'ig': 'instagram',
    'instagram ads': 'instagram',

    # TikTok Variations
    'tik tok': 'tiktok',
    'tiktok ads': 'tiktok',

    # Direct/None Variations
    'direct': 'direct',
    'none': 'direct',
    'unknown': 'unknown' # What we filled previously
}

# Apply standardization to traffic_source and utm_source
sessions['traffic_source'] = sessions['traffic_source'].replace(traffic_mapping)
sessions['utm_source'] = sessions['utm_source'].replace(traffic_mapping)

print("Step 2: Traffic Sources Standardized (Google, Facebook, etc.)")

Step 2: Traffic Sources Standardized (Google, Facebook, etc.)

In [57]:
# 3. Payment Method Standardization Dictionary (The Payment Map)
# ==============================================================================
payment_mapping = {
    'cod': 'cash on delivery',
    'cash': 'cash on delivery',
    'card': 'credit card',
    'visa': 'credit card',
    'mastercard': 'credit card',
    'wallet': 'digital wallet',
    'instapay': 'instapay'
}

# Apply the mapping to standardize payment methods in the orders dataframe
orders['payment_method'] = orders['payment_method'].replace(payment_mapping)

print("Step 3: Payment Methods Standardized.")

Step 3: Payment Methods Standardized.

In [58]:
# 4.Final Verification
# ==============================================================================
print("\n CLEANED DATA SNAPSHOT:")
print("--------------------------------")
print("Traffic Sources now looks like:")
print(sessions['traffic_source'].value_counts())
print("\nPayment Methods now looks like:")
print(orders['payment_method'].value_counts())
print("\nDevice Types now looks like:")
print(sessions['device_type'].value_counts())

 CLEANED DATA SNAPSHOT:
--------------------------------
Traffic Sources now looks like:
traffic_source
facebook      336649
google        278888
instagram     143859
tiktok        120342
direct         90163
organic        80452
referral       59922
email          44956
(direct)       29931
newsletter     14838
Name: count, dtype: int64

Payment Methods now looks like:
payment_method
cash on delivery    72550
credit card         48597
digital wallet      48432
instapay            48238
Name: count, dtype: int64

Device Types now looks like:
device_type
mobile     720702
desktop    419376
tablet      59922
Name: count, dtype: int64

In [59]:
print(" AUDIT: Checking Email Quality...")

# 1. Detect Invalid Formats
# Condition: Email must contain '@' and a '.'
invalid_emails = customers[~customers['email'].astype(str).str.contains('@') | ~customers['email'].astype(str).str.contains(r'\.')]
print(f"Found {len(invalid_emails)} invalid email formats (missing @ or .).")

# Display a sample for verification
if len(invalid_emails) > 0:
    print(invalid_emails['email'].head())

# 2. Detect Duplicates
# Identifying emails shared across different customer_ids
duplicate_emails = customers[customers.duplicated(subset=['email'], keep=False)]
print(f"Found {len(duplicate_emails)} customers sharing the same email address.")

 AUDIT: Checking Email Quality...
Found 8621 invalid email formats (missing @ or .).
16     NaN
26     NaN
70     NaN
98     NaN
138    NaN
Name: email, dtype: object
Found 111773 customers sharing the same email address.

In [60]:
print("FIXING: Cleaning Emails...")

# Intelligent Check function:
# If value is empty (NaN) -> return None
# If value is text but missing '@' or '.' -> return None (Delete/Invalidate)
# Otherwise -> return the email as is
def clean_email(email):
    if pd.isna(email): # If it's already empty
        return None

    email_str = str(email).strip() # Remove whitespaces

    # Ensure essential email markers exist
    if '@' in email_str and '.' in email_str:
        return email_str
    else:
        return None # Invalid format

# Apply the function to the column
customers['email'] = customers['email'].apply(clean_email)

# Verify the count of nulls
invalid_now = customers['email'].isnull().sum()
print(f"Email column cleaned. Total valid emails retained. (Null count: {invalid_now})")

FIXING: Cleaning Emails...
Email column cleaned. Total valid emails retained. (Null count: 8621)

In [61]:
print("AUDIT: Checking Session Durations...")

# 1. Calculate duration in minutes
# Formula: (End Timestamp - Start Timestamp) / 60 seconds
sessions['duration_minutes'] = (sessions['session_end_ts'] - sessions['session_start_ts']).dt.total_seconds() / 60

# 2. Detect Anomalies
# Case 1: Negative duration (Time traveling!)
negative_time = sessions[sessions['duration_minutes'] < 0]

# Case 2: Sessions longer than 6 hours (360 minutes)
long_sessions = sessions[sessions['duration_minutes'] > 360]

print(f"Found {len(negative_time)} sessions with negative duration (Impossible!).")
print(f"Found {len(long_sessions)} sessions longer than 6 hours (Likely Bots/Errors).")

AUDIT: Checking Session Durations...
Found 6147 sessions with negative duration (Impossible!).
Found 5971 sessions longer than 6 hours (Likely Bots/Errors).

In [62]:
print("FIXING: Removing Session Outliers...")

# We retain only logical sessions (Duration >= 0 and <= 6 hours)
original_count = len(sessions)

sessions = sessions[
    (sessions['duration_minutes'] >= 0) &
    (sessions['duration_minutes'] <= 360)
]

dropped_count = original_count - len(sessions)

print(f"Removed {dropped_count} bad sessions. Data is now logical.")

FIXING: Removing Session Outliers...
Removed 12118 bad sessions. Data is now logical.

In [63]:
print("\n AUDIT: Checking Math Accuracy in Orders...")

# 1. Convert columns to numeric (to avoid data type errors)
cols = ['subtotal', 'shipping_fee', 'tax_amount', 'discount_amount', 'total_amount']
for c in cols:
    orders[c] = pd.to_numeric(orders[c], errors='coerce').fillna(0)

# 2. Calculate the correct sum (The accounting formula)
orders['correct_total'] = orders['subtotal'] + orders['shipping_fee'] + orders['tax_amount'] - orders['discount_amount']

# 3. Comparison (Rounding to 2 decimal places to avoid floating-point precision issues)
# We check if the recorded Total Amount differs from the calculated Correct Total
orders['math_error'] = round(orders['total_amount'], 2) != round(orders['correct_total'], 2)

error_count = orders['math_error'].sum()
print(f"Found {error_count} orders where Total Amount is WRONG.")

# Show a sample of orders with errors for verification
if error_count > 0:
    print("\nSample of wrong calculations:")
    print(orders[orders['math_error']][['order_id', 'total_amount', 'correct_total']].head())

 AUDIT: Checking Math Accuracy in Orders...
Found 79748 orders where Total Amount is WRONG.

Sample of wrong calculations:
      order_id  total_amount  correct_total
1  O0000082480        443.31         443.32
2  O0000115642       3264.45        3264.44
4  O0000202201       2245.00        2244.99
6  O0000191080       1203.96        1203.97
7  O0000164125       2558.10        2558.11

In [64]:
print(" RE-AUDITING: Separating 'Rounding Noise' from 'Real Errors'...")

# Calculate the Absolute Difference
orders['diff'] = abs(orders['total_amount'] - orders['correct_total'])

# 1. Rounding Noise (Differences less than 1.00)
rounding_errors = orders[(orders['diff'] > 0) & (orders['diff'] < 1)]
print(f" Found {len(rounding_errors)} orders with tiny rounding diffs (Ignore these as 'Noise').")

# 2. Significant Errors (Differences of 1.00 or more)
real_errors = orders[orders['diff'] >= 1]
print(f"Found {len(real_errors)} orders with MAJOR calculation errors (The real problem!).")

if len(real_errors) > 0:
    print("\nSample of REAL errors:")
    print(real_errors[['order_id', 'total_amount', 'correct_total', 'diff']].head())

 RE-AUDITING: Separating 'Rounding Noise' from 'Real Errors'...
 Found 126356 orders with tiny rounding diffs (Ignore these as 'Noise').
Found 2116 orders with MAJOR calculation errors (The real problem!).

Sample of REAL errors:
        order_id  total_amount  correct_total   diff
327  O0000112330       1206.53        1213.38   6.85
419  O0000077283       2422.23        2413.98   8.25
538  O0000074438       1604.33        1588.78  15.55
546  O0000067306       3115.93        3092.10  23.83
571  O0000022257       2675.61        2672.33   3.28

In [65]:
print("FIXING: Overwriting Total Amount with Correct Values...")

# Overwriting the original column with the correctly calculated values for the entire dataset
orders['total_amount'] = orders['correct_total']

# Cleanup: Removing the auxiliary columns used during the audit
orders.drop(columns=['correct_total', 'math_error', 'diff'], inplace=True, errors='ignore')

print("Fixed ALL calculation errors. Financial data is now 100% accurate.")

FIXING: Overwriting Total Amount with Correct Values...
Fixed ALL calculation errors. Financial data is now 100% accurate.

In [66]:
orders.head()

,order_id,customer_id,session_id,order_date,order_status,product_category,subtotal,shipping_fee,tax_amount,discount_amount,total_amount,payment_method,delivery_date
0,O0000214413,C00062214,S0000352072,2024-07-01,Completed,Electronics,968.04,61.80,135.53,0.00,1165.37,cash on delivery,2024-07-10
1,O0000082480,C00148386,S0000124767,2024-07-01,Cancelled,Beauty,349.98,44.34,49.00,0.00,443.32,digital wallet,2024-07-10
2,O0000115642,C00079214,S0000304963,2024-07-01,Completed,Sports,2839.59,27.31,397.54,0.00,3264.44,credit card,2024-07-10
3,O0000016065,C00121264,S0000355344,2024-07-01,Cancelled,Beauty,2188.60,18.04,306.40,323.54,2189.50,credit card,2024-07-03
4,O0000202201,C00053436,S0000204612,2024-07-01,Completed,Accessories,1919.99,86.96,268.80,30.76,2244.99,cash on delivery,2024-07-07

In [67]:
print("\nFINAL FIX: Handling Orphan Orders...")

# 1. Get all valid customer IDs from the customers table
valid_ids = customers['customer_id'].unique()

# 2. Identify orders linked to non-existent customer IDs
orphan_mask = (~orders['customer_id'].isin(valid_ids)) & (orders['customer_id'].notnull())
orphan_count = orphan_mask.sum()

print(f" Found {orphan_count} orders linked to non-existent customers.")

# 3. Clean up orphans (Set invalid IDs to None/Null)
if orphan_count > 0:
    orders.loc[orphan_mask, 'customer_id'] = None
    print("Set invalid customer_ids to Null to save Revenue.")
else:
    print("No orphans found.")

FINAL FIX: Handling Orphan Orders...
 Found 1147 orders linked to non-existent customers.
Set invalid customer_ids to Null to save Revenue.

In [68]:
# 2. Detecting "Negative Financials"
# Products and shipping costs cannot be negative values
print("\n Checking Negative Money:")
financial_cols = ['subtotal', 'shipping_fee', 'tax_amount', 'total_amount']
neg_orders = orders[(orders[financial_cols] < 0).any(axis=1)]

if len(neg_orders) > 0:
    print(f"    ALERT: Found {len(neg_orders)} orders with negative values!")
    # Fix: Convert to positive (assuming they are sign errors)
    for col in financial_cols:
        orders[col] = orders[col].abs()
    print("      Fixed: Converted negative values to absolute (positive).")
else:
    print("   Orders: No negative financial values.")

 Checking Negative Money:
   Orders: No negative financial values.

In [69]:
# 3. Campaign Logic Audit (End Date < Start Date)
# Campaigns that ended before they actually started
invalid_campaigns = campaigns[campaigns['end_date'] < campaigns['start_date']]

if len(invalid_campaigns) > 0:
    print(f"    ALERT: Found {len(invalid_campaigns)} campaigns ending before they start!")
    # Solution: Swap dates or delete them
    # Here we drop them because this data is logically inconsistent
    campaigns = campaigns.drop(invalid_campaigns.index)
    print("       Fixed: Removed invalid campaigns.")
else:
    print("   Campaigns: All dates look logical.")

   Campaigns: All dates look logical.

In [70]:
# 4. CSAT Scores Audit (Range: 1 to 5)
print("\n4 Checking CSAT Logic (1-5):")
# Are there any ratings greater than 5 or less than 1?
invalid_scores = support[
    (support['csat_score'] > 5) |
    (support['csat_score'] < 1)
]
if len(invalid_scores) > 0:
    print(f"    ALERT: Found {len(invalid_scores)} invalid CSAT scores!")
    # Fix: Set them to NaN (Not a Number)
    support.loc[invalid_scores.index, 'csat_score'] = None
    print("       Fixed: Set invalid scores to Null.")
else:
    print("    Support: CSAT scores are valid (1-5 or Null).")

print("\n FINAL STATUS: DATA IS 100% CLEAN.")

4 Checking CSAT Logic (1-5):
    Support: CSAT scores are valid (1-5 or Null).

 FINAL STATUS: DATA IS 100% CLEAN.

In [71]:
print("\n SAVING FINAL GOLD DATASETS...")

sessions.to_csv('Clean_Fact_Sessions.csv', index=False)
orders.to_csv('Clean_Fact_Orders.csv', index=False)
customers.to_csv('Clean_Dim_Customers.csv', index=False)
ad_spend.to_csv('Clean_Fact_Ad_Spend.csv', index=False)
campaigns.to_csv('Clean_Dim_Campaigns.csv', index=False)
support.to_csv('Clean_Fact_Support.csv', index=False)

print(" ALL SYSTEMS GO! we are ready for SQL Analysis.")

 SAVING FINAL GOLD DATASETS...
 ALL SYSTEMS GO! we are ready for SQL Analysis.